
    <div class="center-on-page">
        <div class="grass__circle">
            <div class="grass-dots" style="top: 50%; left: 20%;"></div>
            <div class="grass-dots" style="top: calc(50% - 10px); left: calc(20% - 10px);"></div>
            <div class="grass-dots" style="top: calc(50% - 10px); left: calc(20% + 10px);"></div>
            <div class="foreground grass">
                <img src="../../../assets/grass.svg">
            </div>
            <div class="background grass">
                <img src="../../../assets/grass-back.svg">
            </div>
        </div>
        <div class="pokeball" (click)="genPoke()">
            <div class="pokeball__button">
                <div class="pokeball__button__inner"></div>
            </div>
        </div>
        <div class="pokeball__shadow"></div>
        <div class="pokeball__highlight"></div>
    </div>